html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #d2ddef;
}

a {
  color: #fc9b2d;
  text-decoration: none;
}

a:hover {
  color: #76db6b;
}

.container {
  min-width: 550px;
}

header {
  height: 110px;
  width: 100%;
  text-align: center;
  background-color: #3570ce;
}

ul {
  position: relative;
  right: 40px;
  list-style: none;
}

li {
  margin-top: 5px;
}

.title {
  height: 100%;
  position: relative;
  top: 15px;
}

.title_main {
  font-size: 28px;
  color: white;
}

.title_sub {
  font-size: 20px;
  color: white;
}

#content {
  height: 100%;
  width: 80%;
  max-width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  background-color: white;
  border: 2px solid grey;
}

.cat_and_item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  height: 100%;
  width: 30%;
  border-right: 1px solid grey;
}

.item {
  height:100%;
  width: 65%;
  position: relative;
  left: 20px;
}

.content {
  height: 100%;
  width: 100%;
}

textarea {
  height: 100px;
  width: 300px;
}

.error {
  color: red;
}
