{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="category">
    <h2>Categories</h2>
    <ul>
      {% for c in categories %}
      <li><a href='{{ url_for('showCategory', category_name=c.name) }}'>{{c.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="item">
    <h2>{{itemHeading}}</h2>
    <ul>
      {% for i in items %}
      <li><a href='{{ url_for('showItem', category_name=i.category.name, item_name=i.title) }}'>{{i.title}}</a>&nbsp;({{i.category.name}})</li>
      {% endfor %}
    </ul>

    {% if user and home %}
    <p><br><br><a href='{{ url_for('newItem') }}'>Add Recommendation</a></p>
    {% endif %}
  </div>
</div>

{% endblock %}
