{% extends "base.html" %}
{% block content %}

<div class="content">
  <div class="category">
    <h2>Categories</h2>
    <ul>
      {% for c in categories %}
        <li><a href="/recommendations/{{c.name}}/items">{{c.name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="item">
    <h2>{{itemHeading}}</h2>
    <ul>
      {% for i in items %}
        <li><a href="/recommendations/{{i.category.name}}/{{i.title}}">{{i.title}}</a> ({{i.category.name}})</li>
      {% endfor %}
    </ul>

    <!-- check if is homepage and user is logged in -->
    <p><a href="/recommendations/new">Add Recommendation</a></p>
  </div>
</div>

{% endblock %}
